@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>


        <img src="https://www.newspaperkart.com/template/img/logo1.png" />
        <h1 align="center">Welcome to NewspaperKart</h1>

        <br /><br />

        <div align="center">
            <div>
                <a asp-action="Login" asp-controller="Login" class="btn btn-outline-success">Sign in</a>
            </div>

            <br />

            <div>
                <a asp-action="Register" asp-controller="Login" class="btn btn-outline-success">Sign up</a>
            </div>
        </div>
    </body>
    </html>*@


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@{
    Layout = null;
}*@

<img src="https://www.newspaperkart.com/template/img/logo1.png" />
<h1 align="center">Welcome to NewspaperKart</h1>

<br />
<br />

<div align="center">
    <div>
        <a asp-action="Login" asp-controller="Login" class="btn btn-outline-success">Sign in</a>
    </div>

    <br />

    <div>
        <a asp-action="Register" asp-controller="Login" class="btn btn-outline-success">Sign up</a>
    </div>
</div>